.work-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main {
        padding: 1rem;
        width: 100%;
        max-width: 1200px;
        flex: 1;
        display: flex;
        .sidebar {
            flex: 0 0 250px;
        }

        .content {
            flex: 1;
        }
    }

    .sidebar {
        padding-right: 2rem;
        
        .sidebar-item {
            &:not(:first-child) {
                margin-top: 2rem;
            }
        }
    }
}
